h1{
    font-size: 90px;
    color: antiquewhite;
    background-color: saddlebrown;
    text-align: center;
}
body{
    text-align: center;
    font-size: 25px;
    background-color: antiquewhite;
}
h3,h4{
    text-align: left;
    font-size: 66px;
}
ul,ol{
    text-align: left;
}
h5,h6{
    color: antiquewhite;
}